.filter__container {
  width: max-content;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 2rem;
  background: var(--color-bg-variant);
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  transition: var(--transition);
}

.filter__container:hover {
  background: var(--color-bg);
  transition: var(--transition);
}

.filter__option {
  border: 1px solid;
  border-radius: 0.5rem;
  background: var(--color-primary);
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  margin: 0.2rem;
  transition: var(--transition);
}
.filter__container button:hover {
  background: var(--color-white);
  cursor: pointer;
  color: var(--color-bg);
  transition: var(--transition);
}
/* @media screen and (max-width: 1024px) {
  .filter__container {
    flex-direction: row;
    width: 26rem;
    margin: -4rem 0 0 2rem;
    position: relative;
    background: none;
    border: none;
    top: -48.8rem;
  }
}
@media screen and (max-width: 414px) {
  .filter__container {
    margin-left: -1.5rem;
    top: -54rem;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .filter__container {
    margin-left: 8rem;
  }
}
@media screen and (max-width: 390px) {
  #filter {
    margin-left: -0.5rem;
    position: relative;
    top: 4rem;
  }
  .filter__container {
    width: 4rem;
    margin-top: 4rem;
  }
} */
